body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    height: 105px;
    position: fixed;
    width: 100%;
    border-bottom: 4px solid rgba(255,255,255,0);
    transition: all 1s ease-in;
    z-index: 1000;

}

.scroll {
    background-color: #26272F;
    border-bottom: 4px solid rgba(255,255,255,1);
    background-clip: padding-box;
    transition: all 1s ease-in;
    transition: border 2s ease-in;
}


#logo {
    background-image: url('../img/grid_logo.svg');
    background-repeat: no-repeat;
    min-height: 225px;
    max-height: 225px;
    margin-top: 25px;
    margin-left: 40px;
    margin-right: 40px;
    transition: all 0.75s linear;
    flex: 1;
    display: block;
}

#logo.scrollLogo {
    min-height: 80px;
    max-height: 80px;
    margin-top: 10px;
    transition: all 0.75s linear;

}


.mainNav {
    padding-top: 10px;
    display: flex;
    flex: 1;
}

.mainNav a {
    text-decoration: none;
    padding: 10px;
    margin: 15px 40px 20px 0;
    font-size: 1em;
    font-weight: bold;
    color: #FFF;
    border: 4px solid #FFF;
    cursor: pointer;
}

.mainNav a:hover  {
    animation: border-pulsate 2s infinite;
}
.projectsNav {
    position: absolute;
    right: 276px;
    top: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: all 0.75s ease-in;
}

.contactNav {
    position: absolute;
    right: -6px;
    top: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: all 0.75s ease-in;
}

.contactNav a, .projectsNav a {
    background-color: #26272F;
}

/* ABOUT ========================================== */

.about {
    color: #FFF;
    width: 100%;
    padding: 200px 0;
    min-height: 103vh;
    background-image: url('../img/shattered-island.gif');
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutContainer h3 {
    margin-top: 100px;
    font-size: 2.5em;
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding: 0 10px;
}
.aboutContainer h4 {
    margin: 100px 0;
    text-align: center;
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif;

}

.aboutContainer .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutContainer .buttons a {
    text-decoration: none;
    padding: 20px;
    margin: 20px 20px 20px 20px;
    font-size: 1.2em;
    color: #FFF;
    border: 4px solid #FFF;
    font-weight: bold;
}

.aboutContainer .buttons a:hover {
    animation: breathing 7s linear infinite;
}

/* QUOTES ========================================== */

.quote {
    background-color: #A8A8AB;
    min-height: 35vh;
    border: 4px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.quote h2 {
    font-size: 1.8em;
    padding: 20px;
    color: #fff;
    border: 4px solid #fff;
    background-color: #26272F;
    font-weight: bold;
    max-width: 80%;
    text-align: center;
}

/* SKILLS ========================================== */

.skills {
    background: url('../img/shattered-island.gif');
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
}

.list, .set {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80vh;
    width: 60vh;
    border: 4px solid #fff;
    background-color: rgba(38, 39, 47, 0.8);
    padding: 20px;
    margin: 20px 20px;
}

.skillHead {
    color: #fff;
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 20px;

}
.list h4, .set h4 {
    color: #fff;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    margin: 20px 0;
}

.list p, .set p {
    color: #ccc;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    line-height: 2em;
}

.set {
    justify-content: flex-start;
}

.bars {
    margin-top: 45px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;

}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:25px;
	width:100%;
	background:#eee;
	height:35px;
	transition:0.4s linear;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	font-weight:bold;
	font-size:14px;
	color:#fff;
}

.skillbar-title span {
	display:block;
	background: rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
}

.skillbar-bar {
	height: 35px;
	width: 0%;
  background-color: #292B32;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:14px;
	height:35px;
	line-height:35px;
	color:#000;
}


/* PORTFOLIO ========================================== */

.portfolio {
    min-height: 100vh;
    width: 100%;
    background-image: url('../img/shattered-island.gif');
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio .container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    min-height: 80vh;
    border: 4px solid #fff;
    padding: 20px;
    justify-content: space-around;
    background-color: rgba(38, 39, 47, 0.8);
    margin: 20px 0;
}

.items {
    height: 400px;
    width: 400px;
    margin: 10px;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #fff;

}

.items:nth-child(1) {
    background: url('../img/ag.PNG');
    background-position: center;
    background-size: cover;
}

.items:nth-child(2) {
    background: url('../img/best.png');
    background-position: center;
    background-size: cover;
}

.items:nth-child(3) {
    background: url('../img/conf.png');
    background-position: center;
    background-size: cover;
}

.items:nth-child(4) {
    background: url('../img/california.png');
    background-position: center;
    background-size: cover;
}

.items:nth-child(5) {
     background: url('../img/rsvp.png');
    background-position: center;
    background-size: cover;
}

.items:nth-child(6) {
    background: url('../img/puppy.png');
    background-position: center;
    background-size: cover;
}



.linkItem {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(38, 39, 47, 0.8);
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.75s ease-in;
}

.linkItem:hover {
    background-color: rgba(38, 39, 47, 0);
    transition: all 0.75s ease-in;

}

.linkItem span {
    font-weight: bold;
    font-size: 1em;
    border: 4px solid #fff;
    padding: 10px;
    opacity: 1;
    transition: all 0.75s ease-in;
    text-transform: uppercase;
    text-align: center;
}


/* FOOTER ========================================== */

.footer {
    background-color: #26272F;
    border-top: 4px solid white;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

.footer h3 {
    color:  #fff;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    margin: 30px;
}

.legal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.legal a {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
    margin: 10px;
}

.legal a:hover {
    color: #444247;
}

.toTop {
    position: absolute;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 10px 10px;
    transition: all 0.5s ease-out;
}

.toTop:hover {
    opacity: 0.5;
    transition: all 0.5s ease-out;
}

.toTop p {
    color: #fff;
    margin-top: 10px;
}

.arrow {
    display: block;
    height: 40px;
    width: 40px;
    fill: #fff;
}
.soc {
  margin: 20px;
}
.soc li {
  display: inline-block;
  margin: 10px;
}
.soc a, .soc svg {
  display: block;
}
.soc a {
  position: relative;
  height: 40px;
  width: 40px;
}
.soc svg {
  height: 100%;
  width: 100%;
}

.icon:hover {
  fill: #272830;
  transform: scale(1.25);
  transition: all 0.5s ease-out;
  background: #fff;
}

.icon {
  fill: #fff;
  transition: all 1s ease-out;
}


@keyframes border-pulsate {
    0%   { border-color: rgba(255, 255, 255, 1); }
    50%  { border-color: rgba(255, 255, 255, 0); }
    100% { border-color: rgba(255, 255, 255, 1); }
}

@keyframes breathing {
  0% { transform: scale(1);}
  25% { transform: scale(1.2);}
  50% { transform: scale(1);}
  75% { transform: scale(0.9);}
  100% { transform: scale(1);}
}

.animation-element.slide-left {
  opacity: 0;
  transition: all 0.5s ease-in;
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}




@media only screen and (max-width: 1100px){

    .mainNav a {
        font-size: 0.9em;
        margin: 15px 20px 20px 0;
    }

    .aboutContainer h3 {
        font-size: 1.8em;
    }

    .aboutContainer h4 {
        font-size: 1em;
        margin: 50px 0;
    }

    .aboutContainer .buttons a {
        padding: 10px;
        font-size: 1em;

    }

    .quote h2 {
        font-size: 1.6em;
    }

    .list h3, .set h3 {
        font-size: 1.6em;
    }

    .list h4, .set h4 {
        font-size: 1.2em;
    }

    .list p, .set p {
        font-size: 1em;
        line-height: 2em;
    }

    .skillbar span {
        font-size: 0.8em;
    }

    .portfolio .container {
      justify-content: space-around;
    }


    .items {
        height: 300px;
        width: 300px;
    }

    .items a {
        font-size: 0.9em;
    }

    .toTop p {
        font-size: 0.8em;
    }

    .footer h3 {
        font-size: 1em;
    }

    .legal {
      width: 40%;
    }

    .legal a {
        font-size: 0.8em;
    }

}



@media only screen and (max-width: 814px){

    .quote h2 {
        font-size: 1.2em;
    }

    #projects, #contact {
        display: none;
    }

    .list, .set {
      width: 80vh;
    }

    .toTop {
      display: none;
    }

    .legal {
      width: 50%;
    }

    .soc {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .footer {
      min-height: 40vh;
    }
}


@media only screen and (max-width: 530px){
  header {
    position: absolute;
    justify-content: center;
  }
  .mainNav a {
    margin: 15px 20px 20px 0;
  }

  .mainNav {
      display: none;
  }

  #logo {
    max-width: 250px;
  }

  #logo.scrollLogo {
    max-width: 170px;
  }

  section.about {
    padding: 110px 0;
  }

  .aboutContainer h3 {
    font-size: 2em;
    margin: 75px 0 0 0;
  }

  .aboutContainer .buttons {
    margin-bottom: 50px;
  }

  .aboutContainer .buttons {
    margin: 10px;
  }
  .skills {
    padding: 50px 0;
  }

  .list, .set {
    width: 90vh;
    text-align: center;
  }
}

@media only screen and (max-width: 479px){
    .aboutContainer .buttons {
      flex-direction: column;
    }

    .quote h2 {
      font-size: 1em;
    }

    .items {
        min-height: 200px;
        min-width: 200px;
    }
}

@media only screen and (max-width: 340px){
  #logo {
    max-width: 150px;
  }

  .aboutContainer h3 {

    margin: 25px 0 0 0;
  }

    .items {
        min-height: 150px;
        min-width: 150px;
    }

    .linkItem span {
      font-size: 0.8em;
    }

}
