* {
  box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    height: 105px;
    position: fixed;
    width: 100%;
    border-bottom: 4px solid rgba(255,255,255,0);
    transition: all 1s ease-in;
    z-index: 1000;
    
}

.scroll {
    background-color: #26272F; 
    border-bottom: 4px solid rgba(255,255,255,1);
    background-clip: padding-box;
    transition: all 1s ease-in;
    transition: border 2s ease-in;
}


#logo {
    background-image: url(../img/design_logo.svg);
    background-repeat: no-repeat;
    height: 300px;
    width: 400px;
    margin-left: 30px;
    margin-top: 30px;
    transition: all 0.75s ease-in;
    flex: 1;

   
}

.scrollLogo {
    transform: scale(0.3) translate(-515px, -420px); 
    transition: all 0.75s ease;
    
}

header h2 {
    flex: 1;
    margin: 20px 20px 20px -10px;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 20px;
}

.mainNav {
    padding-top: 10px;
    display: flex;
    flex: 1;
}

.mainNav a{
    text-decoration: none;
    padding: 10px;
    margin: 20px 40px 20px 0px;
    font-size: 1.2em;
    font-weight: bold;
    color: #FFF;
    border: 4px solid #FFF;
    cursor: pointer;
}

.mainNav a:hover  {
    animation: border-pulsate 2s infinite;
}
.projectsNav {
    position: absolute;
    right: 233px;
    top: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: all 0.75s ease-in;
}

.contactNav {
    position: absolute;
    right: -6px;
    top: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: all 0.75s ease-in;
}

.contactNav a, .projectsNav a {
    background-color: #808080;
}

/* ABOUT ========================================== */

.about {
    color: #FFF;
    width: 100%;
    height: 103vh;
    background-image: url(../img/shattered-island.gif);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutContainer {
    
}

.aboutContainer h3 {
    margin-top: 100px;
    font-size: 2.5em;
    width: 100%;
    font-weight: bold;
}
.aboutContainer h4 {
    margin-top: 60px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
}

.aboutContainer .buttons {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutContainer .buttons a {
    text-decoration: none;
    padding: 10px;
    margin: 20px 20px 20px 20px;
    font-size: 1.2em;
    color: #FFF;
    border: 4px solid #FFF;
    font-weight: bold;
}

.aboutContainer .buttons a:hover {
    animation: border-pulsate 2s infinite;
}

/* QUOTE 1 ========================================== */

.quote {
    margin-top: -30px;
    background-color: #fff;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 4px solid #26272F;
    border-bottom: 4px solid #26272F;
}

.quote h2 {
    font-size: 32px;
    padding: 20px;
    color: #fff;
    border: 5px solid white;
    background-color: #26272F;
    font-weight: bold;
    max-width: 80%;
}

/* SKILLS ========================================== */

.skills {
    background: url(../img/emile-perron-190221.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list, .set {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    height: 80vh;
    width: 50vh;
    border: 4px solid #fff;
    background-color: rgba(38, 39, 47, 0.8);
    padding: 20px;
}

.skillHead {
    color: #fff;
    font-size: 2.5em;
    
}
.list h4, .set h4 {
    color: #fff;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
}

.list p, .set p {
    color: #ccc;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    line-height: 2em;
}

.set {
    justify-content: flex-start;
}

.bars {
    margin-top: 45px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:25px;
	width:100%;
	background:#eee;
	height:35px;
	transition:0.4s linear;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	font-weight:bold;
	font-size:14px;
	color:#fff;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
}

.skillbar-bar {
	height:35px;
	width:0px;
    background-color: darkgray;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:14px;
	height:35px;
	line-height:35px;
	color:#000;
}

/* QUOTE 2 ========================================== */


/* PORTFOLIO ========================================== */

.portfolio {
    min-height: 100vh;
    width: 100%;
    background-image: url(../img/shattered-island.gif);
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    min-height: 50vh;
    margin: 200px auto 0;
}

.floater {
    position: relative;
    color: #fff;
    left: 10px;
    top: -50px;
    font-size: 4em;
    transform: rotate(-22.5deg);
}

.project {
    background-color: lightgrey;
    flex: 1;
    min-width: 30%;
    min-height: 30%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project a {
    text-decoration: none;
    padding: 10px;
    background: grey;
    color: #fff;
    border: 4px solid #fff;
}

/* FOOTER ========================================== */

.footer {
    background-color: #26272F;
    border-top: 4px solid white;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

.footer h3 {
    color:  #fff;
    font-size: 1.5em;
    padding: 10px;
    border: 4px solid #fff;
}

.legal {
    display: flex;
    width: 300px;
    justify-content: space-around;
}

.legal a {
    color: #fff;
    text-decoration: none;  
}

.legal a:hover {
    color: #444247; 
}

.toTop {
    position: absolute;
    right: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toTop p {
    color: #fff;
    margin-top: 10px;
}

.arrow {
    display: block;
    height: 40px;
    width: 40px;
    fill: #fff;
}

.soc li {
  display: inline-block;
  margin: 10px;
}
.soc a, .soc svg {
  display: block;
}
.soc a {
  position: relative;
  height: 50px;
  width: 50px;
}
.soc svg {
  height: 100%;
  width: 100%;
}

.icon:hover {
  fill: #272830;
  transform: scale(1.25);
  transition: background-color 0.5s, transform 0.5s ease-out;
  background: #fff;
}

.icon {
  fill: #fff;
}


@keyframes border-pulsate {
    0%   { border-color: rgba(255, 255, 255, 1); }
    50%  { border-color: rgba(255, 255, 255, 0); }
    100% { border-color: rgba(255, 255, 255, 1); }
}




